  <section id="footer">
    <div class="wrapper">
      <div id="footercontainer_right">
      <ul style="list-style: none;">
        <li>
          <a href="https://www.instagram.com/marbltravel/" target="_blank">
            <img src="/assets/img/icons/ig.png" id="ig" />
          </a>
          <a href="https://www.facebook.com/MARBLtravel/" target="_blank">
            <img src="/assets/img/icons/fb.png" id="fb" />
          </a>
          <a href="mailto:hello@marbl.io?Subject=Hello%20Marbl!">
            <img src="/assets/img/icons/email.png" id="email" />
          </a>
        </li>
        <li>
          <a href="/privacy">
            &nbsp;&nbsp; Privacy Policy
          </a>
        </li>
      </ul>
      </div>
    </div>
  </section>

  <script src="/assets/vendor/jquery/jquery.js"></script>
  <script src="/assets/js/app.js"></script>
</body>
</html>
