<section id="page">
          <div class="wrapper">
            <div id="pagecontainer">
<h3><b>Thank you! You are now on the waitlist for the MARBL community.</p></h3>

<h2><p>x,xxx explorers are ahead of you</p></h2>

<h3><p>Interested in becoming one of our global citizens?
We only have 1,000 spots in our inaugural class. Improve your chances by referring your friends. When they sign up, you move up the list and gain access that much sooner.
</h3></p><br/>

<img src="assets/static/icons/fbshare.png" id="fbshare"></img>
<img src="assets/static/icons/twittershare.png"></img>
<img src="assets/static/icons/smsshare.png" id="smsshare"></img>
<img src="assets/static/icons/emailshare.png"></img>

<h3>
<p>Or share this unique link:
[www.marbl.io/dskahfkls]</p></h3>

<br/><br/>
<h3>
<p><i>“Nothing behind me, everything ahead of me, as is ever so on the road.”</i></p>
― Jack Kerouac, On the Road</h3>

</div>
</section>
</div>
