<div id="container">
    <section id="cover">
      <div class="wrapper">
        <div id="covercontainer">
          <!-- <img src="http://i.imgur.com/S4PLlu7.png" width="350" /> -->
</div>
<br />
          <h2>Make the world a smaller place.</h2>
            <p><h3>Join our invite-only community of global citizens <br>
            and inspire your next adventure.</h3></p><br/>
            <div class='button' style="margin-left: 63px; width: 150px; height: 45px; font-size: 20px;"
            onClick="document.getElementById('about').scrollIntoView();">Join</div>

            <!-- <div ng-controller="userController as meep">
            <p ng-repeat='error in meep.signupErrors'>{{error.message}}</p>
            <form id="form" class="growthloop">
      		  <input id="name" type="text" placeholder="NAME" ng-model='meep.user.name'>
            <input id="email" type="text" placeholder="E-MAIL" ng-model='meep.user.email'>
      		  <input id="instagram" type="text" placeholder="INSTAGRAM" ng-model='meep.user.instagram'></input>
        <input id="submit" type="submit" value="Join the MARBL community!" ng-click='meep.newSignup()'>
      </form>
      </div> -->

      </div>
    </section>
</div>
<section id="about">
          <div class="wrapper">
            <div id="aboutcontainer">
                  <img src="assets/static/images/phone.png" width="330" />
                  <!-- <img src="http://www.freeiconspng.com/uploads/iphone-png-14.png" width="400" /> -->
                </div>
                <!-- <h4>Gibberish</h4> --><a href="about"></a>
                <h3><p>The world is big.But once you get out there, explore, and meet fellow adventurers,
                  it feels smaller—in the best way possible. That’s where MARBL comes in.
                  Think of us as a gathering place for your most well-traveled friends, where you can
                  get inspiration and learn the best kept travel secrets for your next bucket list adventure.</p>

                  <p>So what you are you waiting for? Join the MARBL community today.<p/>

                    <div ng-controller="userController as meep">
                    <p ng-repeat='error in meep.signupErrors'>{{error.message}}</p>
                    <form id="form" class="growthloop">
                    <input id="name" type="text" placeholder="NAME" ng-model='meep.newuser.name'>
                    <input id="email" type="text" placeholder="E-MAIL" ng-model='meep.newuser.email'>
                    <input id="instagram" type="text" placeholder="INSTAGRAM" ng-model='meep.newuser.instagram'></input>
                <input id="submit" type="submit" value="APPLY" ng-click='meep.newSignup()'>
              </form>
              </div>
        </h3>
    					</div>
  </section>

  <!-- <section id="insta">
        <div class="wrapper">
          <a href="insta"></a> -->

          <!-- <div ng-controller="userController as meep">
          <p ng-repeat='error in meep.signupErrors'>{{error.message}}</p>
          <form id="form" class="growthloop">
          <input id="name" type="text" placeholder="Name" ng-model='meep.user.name'><br>
          <input id="email" type="text" placeholder="Email" ng-model='meep.user.email'><br>
          <input id="instagram" type="text" placeholder="Instagram" ng-model='meep.user.instagram'></input>
      <input id="submit" type="submit" value="APPLY" ng-click='meep.newSignup()'>
    </form>
  </div> -->

    <!-- </div> -->


          <!-- <h1>Follow us on Instagram</h1> -->
          <!-- <div id="instacontainer">
            <a href="">
          <img src="assets/static/icons/ig.png" ></a>
          <a href="">
          <img src="assets/static/icons/fb.png"></a>
          <a href="">
          <img src="assets/static/icons/twitter.png"></a>
          <script src="https://snapwidget.com/js/snapwidget.js"></script>
          <iframe src="https://snapwidget.com/embed/348133" class="snapwidget-widget-mobile"
          allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:90%; " />
          </iframe>
          <iframe src="https://snapwidget.com/embed/347709" class="snapwidget-widget-desk"
          allowTransparency="true" frameborder="0" scrolling="yes" style="border:none; width:79.8%; margin-left: 4em;" />
        </iframe>
          <h1>We're @MARBLTravel!</h1>
          </div> -->
        <!-- </div>
      </section> -->
