


  <body ng-controller = "eventController as meep">

<form ng-submit="meep.newEvent(meep.event)">
      <p>Catagory: <input type="text" ng-model="meep.event.category"></p>
      <p>Event Title: <input type='text' ng-model = "meep.event.title"></p>
      <p>Event Details: <input type="text" ng-model = "meep.event.detail"></p>
      <p>Event Date: <input type="text" ng-model ="meep.event.date"></p>
      Event Address Street: <input type="text" ng-model = "meep.event.address.street"><br>
      Event Address City: <input type="text" ng-model = "meep.event.address.city"><br>
      Event Address Zip: <input type="text" ng-model = "meep.event.address.zip"><br>
      <input type="hidden" ng-model ="meep.event.coordinates.lat">
      <input type="hidden" ng-model ="meep.event.coordinates.long">
      <input type="submit" value="Add Event">
</form>



</body>
