<% include partials/header %>

<section class='home-landing'>
  <div class="container">
    <div class="row">
      <div class="col flex col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <h2>
          Make the world a smaller place.
        </h2>

        <h4>
          Join our invite-only community of global citizens
          <br>
          and inspire your next adventure.
        </h4>

        <br />

        <div class='btn-join'>
          Join
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-about">
  <div class="container">
    <div class="row">
      <div id='about' class="col flex col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <p>
          The world is big. But once you get out there, explore, and meet fellow adventurers,
          it feels smaller—in the best way possible. That’s where MARBL comes in.
          Think of us as a gathering place for your most well-traveled friends, where you can
          get inspiration and learn the best kept travel secrets for your next bucket list adventure.
        </p>

        <p>
          So what you are you waiting for? Join the MARBL community today.
        <p/>

        <form
          id="form"
          class="growthloop"
          action="https://marbl-api.herokuapp.com/v1/invites"
          method="post">
            <input id="name" name="name" type="text" placeholder="NAME" />
            <input id="email" name="email" type="text" placeholder="E-MAIL" />
            <input id="instagram" name="instagram" type="text" placeholder="INSTAGRAM" />
            <input id="submit" name="submit" type="submit" value="APPLY" />
        </form>
      </div>
      <div class="col flex col-lg-4 col-md-4 hidden-sm hidden-xs">
        <img class='img-center' src="/assets/img/phone.png" />
      </div>
    </div>
  </div>
</section>

<% include partials/footer %>
