<% include partials/header %>

<div id="container">
  <section id="cover">
    <div class="wrapper">
      <div id="covercontainer"></div>

      <br />

      <h2>
        Make the world a smaller place.
      </h2>

      <p>
        <h3>
          Join our invite-only community of global citizens
          <br>
          and inspire your next adventure.
        </h3>
      </p>

      <br />

      <div class='button' style="margin-left: 63px; width: 150px; height: 45px; font-size: 20px;"
      onClick="document.getElementById('about').scrollIntoView();">
        Join
      </div>

    </div>
  </section>
</div>

<section id="about">
  <div class="wrapper">
    <div id="aboutcontainer">
      <img src="/assets/img/phone.png" width="330" />
    </div>

    <a href="about"></a>
    <h3>
      <p>
        The world is big.But once you get out there, explore, and meet fellow adventurers,
        it feels smaller—in the best way possible. That’s where MARBL comes in.
        Think of us as a gathering place for your most well-traveled friends, where you can
        get inspiration and learn the best kept travel secrets for your next bucket list adventure.
      </p>

      <p>
        So what you are you waiting for? Join the MARBL community today.
      <p/>

      <div ng-controller="userController as meep">
        <form id="form" class="growthloop">
          <input id="name" type="text" placeholder="NAME" ng-model='meep.newuser.name'>
          <input id="email" type="text" placeholder="E-MAIL" ng-model='meep.newuser.email'>
          <input id="instagram" type="text" placeholder="INSTAGRAM" ng-model='meep.newuser.instagram'></input>
          <input id="submit" type="submit" value="APPLY" ng-click='meep.newSignup()'>
        </form>
      </div>
    </h3>
  </div>
</section>

  <% include partials/footer %>
