<% include partials/header %>

<section id="page">
  <div class="wrapper">
    <div id="pagecontainer">
      <h3>
        <b>
          <center>
            Thank you! You are now on the waitlist for the MARBL community.
          </center>
        </b>
      </h3><br/>

      <h2>
        <center>
          <%= place %> explorers are ahead of you
        </center>
      </h2>

      <br/>

      <h4>
        <center>
        Interested in becoming one of our global citizens?
        </center>
      </h4>

        <center>
          <h3>
            We only have 1,000 spots in our inaugural class.
            <br/>
            Improve your chances by referring your friends.
            <br/>
            The more friends you refer who sign up, the more you move up!
          </h3>
        </center>

      <br/>

      <center>
        <img src="/assets/img/icons/fbshare.png" id="fbshare" />
        <img src="/assets/img/icons/twittershare.png" />
        <img src="/assets/img/icons/smsshare.png" id="smsshare" />
        <img src="/assets/img/icons/emailshare.png" />
      </center>

      <br/>

      <center>
        <h3>
          www.marbl.io/<%= code %>
        </h3>
      </center>

      <br/>
      <br/>

      <center>
        <h3>
          <i>
            “Nothing behind me, everything ahead of me, as is ever so on the road.”
          </i>
          <br/><br/>
          ― Jack Kerouac, On the Road
        </h3>
      </center>
    </div>
  </div>
</section>

<% include partials/footer %>
