<% include partials/header %>

<section class="welcome">
  <div class='container'>
    <div class="row">
      <div class="col flex col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class='clear-100'></div>
        <div class='clear-50'></div>

        <h4>
          Thank you! You are now on the waitlist for the MARBL community.
        </h4>

        <br/>

        <h2>
            <%= place %> explorers are ahead of you
        </h2>

          <br/>

        <h4>
          INTERESTED IN BECOMING ONE OF OUR GLOBAL CITIZENS?
        </h4>

        <br/>

        <p>
          We only have 1,000 spots in our inaugural class.
          <br />
          Improve your chances by referring your friends.
          <br />
          The more friends you refer who sign up, the more you move up!
        </p>

        <br/>

        <ul>
          <li>
            <img src="/assets/img/icons/Fbshare.png" id="fbshare" />
          </li>
          <li>
            <img src="/assets/img/icons/Twittershare.png" />
          </li>
          <li>
            <img src="/assets/img/icons/Smsshare.png" id="smsshare" />
          </li>
          <li>
            <img src="/assets/img/icons/Emailshare.png" />
          </li>
        </ul>

        <br/>
        <br/>

        <h3>
          Or share this unique link:
          <br/>
          www.marbl.io/<%= code %>
        </h3>
        <br/>

        <h6>
          <i>
            “Nothing behind me, everything ahead of me, as is ever so on the road.”
          </i>
          <br/>
          <br/>
          ― Jack Kerouac, On the Road
        </h6>
      </div>
    </div>
  </div>
</section>

<% include partials/footer %>
