<% include partials/header %>

<section id="page">
  <div class="wrapper">
    <div class='clear-100'></div>
    <div class='clear-100'></div>

    <div id="pagecontainer">

      <h3>
        <br/>
        Thank you! You are now on the waitlist for the MARBL community.
      </h3>

      <br/>

      <h2>
          <%= place %> explorers are ahead of you
      </h2>

        <br/>

      <h4>
        Interested in becoming one of our global citizens?
      </h4>

      <br/>

      <h3>
        We only have 1,000 spots in our inaugural class.
        Improve your chances by referring your friends.
        The more friends you refer who sign up, the more you move up!
      </h3>

      <br/>

        <img src="/assets/img/icons/Fbshare.png" id="fbshare" />
        <img src="/assets/img/icons/Twittershare.png" />
        <img src="/assets/img/icons/Smsshare.png" id="smsshare" />
        <img src="/assets/img/icons/Emailshare.png" />
        <br/>
        <br/>

        <h3>
          Or share this unique link:
          <br/>
          www.marbl.io/<%= code %>
        </h3>
        <br/>

        <h3>
          <i>
            “Nothing behind me, everything ahead of me, as is ever so on the road.”
          </i>
          <br/>
          <br/>
          ― Jack Kerouac, On the Road
        </h3>
    </div>
  </div>
</section>

<% include partials/footer %>
