html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    min-height: 100%;
    font-size: 100%;
    font-family: 'Raleway', 'Raleway', Raleway, 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    background-color: #ffffff;
    font-size: 1em;
    line-height: 1.5em;
    -webkit-tap-highlight-color: rgba(232, 76, 56, 0.38);
}
#cover {
    background-image: url("https://media.giphy.com/media/3o7buf80PB3VVgpgNa/giphy.gif");
    background-size: cover;
}
h1 {
    color: #403882;
    font-weight: 510;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 1.5em;
    z-index: 100;
}
h2 {
    color: #403882;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.5em;
    z-index: 100;
}
h3,
li {
    color: #403882;
    font-weight: 200;
    letter-spacing: 0.1em;
    /*text-transform: uppercase;*/

    font-size: 1.3em;
    line-height: 1.5em;
    margin-left: 3.1em;
    z-index: 100;
}
h4 {
    color: #fff;
    font-weight: 510;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 2em;
    margin-left: 1.4em;
    z-index: 100;
}
h5 {
    color: #403882;
    font-weight: 510;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 0.5em;
    margin-left: 1.4em;
    z-index: 100;
}
a:hover {
    color: #34BEF8;
}
section {
    position: relative;
    width: 100%;
    height: 46.875em;
    display: block;
    overflow: hidden;
}
.wrapper {
    padding: 0 5.55%;
    position: relative;
    width: 100%;
    margin: 0 auto;
    top: 35%;
    margin-top: -20%;
}
#cover h1,
#cover h2 {
    margin: 2em 0em auto 2em;
    z-index: 1;
}
#cover img {
    opacity: 1;
    float: right;
    margin: 0.7em 12em 0 1em;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#about {
    background-color: #fff;
}
#about .wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: -16.875em;
}
#page {
    background-color: #DDDDDD;
}
#page .wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: -14.375em;
}
#about h1,
#about h2,
#about ul,
#about h3,
#about h5,
#page h1,
#page h2,
#page ul,
#page h3,
#page h5 {
    margin: auto 15.3em 0 3.2em;
    z-index: 1;
}
#about img {
    opacity: 1;
    float: right;
    margin: 0 12em;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*#insta {
background-color: #5d5496;
}
#insta .wrapper{
width: 100%;
position: relative;
margin: 15.625em 0 3.125em 0;
}*/
/*#instacontainer iframe {
  height: 650px;
}*/
/*#insta h1, h2, ul{
  position: relative;
  display: block;
  text-align: left;
  margin-left: 1.3em;
  z-index: 1;
}
#insta img {
  opacity: 1;
  width: 6%;
  margin: 0 -20% 2em 27%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

#footer {
    background-color: #DDDDDD;
    height: 1.250em !important;
    padding-bottom: 0.625em;
}
#footer .wrapper {
    width: auto;
    margin: -5.625em;
}
#footer h1 {
    position: relative;
    margin: 0 auto;
    /*float: left;*/

    width: 100%;
    line-height: 1.2em;
    text-align: center;
}
#footer img {
    width: 30%;
    margin: 0;
    padding: 0;
}
#footercontainer_left {
    width: 18.750em;
    float: left;
    padding: 0.313em 3.438em;
}
#footercontainer_right {
    width: 18.375em;
    float: left;
    padding: 0.000em 3.438em;
    margin: 0.000em 3.438em 3.438em 3.438em;
}
#footer a {
    text-decoration: none;
    /*font-size: 0.750em;*/

    font-size: 0.6em;
}
#footercopyright {
    width: 16.875em;
    padding: 0.313em 0.938em;
    float: left;
}
#fbshare {
    margin-left: 5%;
}
/*Sticky nav*/

.main_h {
    position: fixed;
    top: 0px;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.3s;
    /*opacity: 0.95;*/

    background-color: transparent !important;
    top: -100px;
    padding-bottom: 6px;
    font-family: 'Raleway', 'Raleway', sans-serif;
}
.main_h.scrolled {
    opacity: 0.5;
    background-color: white !important;
}
.main_h.scrolled_mob {
    opacity: 1;
    background-color: white !important;
}
@media only screen and (max-width: 766px) {
    #cover {
        background-image: url("https://media.giphy.com/media/mCxc3IABhfKGA/giphy.gif") right top;
        background-size: cover;
        background-position: 30% 20%;
    }
    .main_h {
        padding-top: 25px;
    }
}
/*.open-nav {
  max-height: 300px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}*/

.sticky {
    background-color: rgba(255, 255, 255, 0.93);
    opacity: 1;
    top: 0px;
    border-bottom: 0px solid gainsboro;
}
.logo {
    width: 0.000em;
    font-size: 1.563em;
    color: #8f8f8f;
    text-transform: uppercase;
    float: left;
    display: block;
    margin-top: 0.625em;
    line-height: 1;
    padding-left: 0.3em;
}
@media only screen and (max-width: 766px) {
    .logo {
        float: none;
        padding-left: 0.5em;
    }
}
nav {
    float: right;
    width: 60%;
    padding-right: 6.563em;
}
@media only screen and (max-width: 766px) {
    nav {
        width: 100%;
        padding-right: 0px;
    }
}
nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
    margin-top: 0px;
    margin-right: -6.250em;
}
@media only screen and (max-width: 766px) {
    nav ul,
    .button {
        padding-top: 0.625em;
        padding-left: 0.313em;
        margin-bottom: 1.250em;
        float: left;
        text-align: left;
        width: 100%;
        display: inline-block;
    }
}
nav ul li {
    display: inline-block;
    margin-left: 3.438em;
    line-height: 0.000em;
}
@media only screen and (max-width: 766px) {
    nav ul li {
        width: 100%;
        padding: 0.625em;
        margin: 0;
    }
}
nav ul a {
    text-decoration: none;
    color: #403882;
    text-transform: uppercase;
    font-size: 1.125em;
}
.mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 32px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
    .mobile-toggle {
        display: block;
    }
}
/*.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}*/

.row {
    width: 100%;
    max-width: 71.875em;
    margin: 0.000em auto;
    position: relative;
    padding: 0.000em 2%;
}
.content {
    padding: 3.125em 2% 15.625em;
}
@-webkit-keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}
@keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
}
.button {
    overflow: hidden;
    width: 4.688em;
    padding: 0.750em 0.750em;
    cursor: pointer;
    user-select: none;
    transition: all 60ms ease-in-out;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #403882 !important;
    border-radius: 0.250em;
    font-size: 1.000em;
    font-weight: 500;
    line-height: 1.3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 0.000em 0.000em 10.000em;
    color: #403882;
    background-color: transparent;
    font-family: 'Raleway', 'Helvetica Neue', sans-serif;
}
.button:hover {
    transition: all 60ms ease;
    background-color: #403882;
    color: #fff;
    opacity: .85;
}
.button:active {
    transition: all 60ms ease;
    opacity: .75;
}
.button:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
}
}
/*growthloop form*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: #bbb5af;
}
input::placeholder,
textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
}
input:focus::placeholder,
textarea::focus:placeholder {
    color: #bbb5af;
}
input::-ms-placeholder,
textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}
input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
    color: #bbb5af;
}
input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}
input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
}
input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}
input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
}
input:hover::placeholder,
textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}
input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
    color: #cbc6c1;
}
input:hover::placeholder,
textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}
input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
}
#form {
    position: relative;
    width: 31.250em;
    margin: 3.125em auto auto 4em;
}
input {
    font-family: 'Raleway', sans-serif;
    font-size: 0.875em;
    width: 369px;
    height: 50px;
    padding: 0px 15px 5px 15px;
    background: transparent;
    outline: none;
    color: #403882;
    border: none;
    border-bottom: solid 1px #b3aca7;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
input:hover {
    background: #403882;
    color: #ffffff;
    border-radius: 4px;
}
#submit {
    width: 150px;
    border-radius: 4px;
    padding: 0;
    margin: 50px 0px 0px 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: #403882;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: solid 1px #403882;
    display: flex;
    flex: 0 0 160px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*   border-top: none; */
}
#submit:hover {
    transition: all 60ms ease;
    opacity: .85;
}
#join_1 {
    margin-left: 3.2em;
    width: 9.375em;
    height: 2.813em;
    font-size: 1.250em;
}
@media (min-width: 768px) {
    section {
        padding-bottom: 4.375em;
        padding-top: 3.750em;
        text-align: left;
    }
    .snapwidget-widget-mobile {
        display: none;
    }
}
@media (min-width: 992px) {
    section {
        padding-bottom: 3.750em;
        padding-top: 5.313em;
        text-align: left;
    }
    .snapwidget-widget-mobile {
        display: none;
    }
}
@media only screen and (max-width: 766px) {
    section {
        display: inline-block;
        text-align: left;
        margin-top: -21.250em;
    }
    .snapwidget-widget-desk {
        display: none;
    }
    .snapwidget-widget-mobile {
        margin-top: 2em;
    }
    .wrapper {
        margin-top: -11.875em;
    }
    #cover {
        height: 1100px;
        margin-top: 0.01em;
    }
    #about {
        height: 1000px;
        padding-top: 0.5em;
    }
    #page {
        height: 1200px;
        padding-top: 60%;
    }
    #insta {
        height: 950px;
        padding-top: 3em;
    }
    #cover h1,
    #about h4,
    #insta h1,
    #page h4,
    {
        text-align: left;
        position: justify;
        z-index: 1;
        font-size: 20px;
    }
    #cover h2 {
        font-size: 26px;
        text-align: left;
        margin: -5em 2em 0 0;
    }
    #page h2 {
        text-align: left;
        position: justify;
        margin: 0 2em 0 0;
    }
    #page h5 {
        text-align: left;
        position: justify;
        margin: 0 4em 0 0;
    }
    #page img {
        width: 21%;
        margin: 0 0em 0 0em;
    }
    #cover h3,
    #about h3,
    #form,
    #page h3 {
        text-align: left;
        position: justify;
        margin: 0 2em 0 0;
        font-size: 18px;
    }
    #cover img {
        /*display: none;*/

        width: 90%;
        position: center;
        display: inline-block;
        margin: 1em 3em 1em -0.5em;
        padding: -5em;
    }
    /*#about img {
    width: 90%;
    position: center;
    display: inline-block;
    margin: -11em 3em 1em -3em;
    padding: -5em;
  }*/

    #about img {
        display: none;
    }
    #insta img {
        width: 20%;
        margin: 1.2em 1.2em;
    }
    input {
        width: 87.5%;
        font-size: 1.5em;
    }
    #form {
        width: 92.5%;
        position: left;
        margin-top: 20px;
    }
    #submit {
        width: 54.5%;
        margin-left: 24%;
    }
    #footer {
        width: 100%;
        height: 100px !important;
        display: inline-block;
        font-size: 12px;
    }
    #footercontainer_left {
        width: 30%;
        margin-left: -70px;
        padding: 0px 0px;
    }
    #footercontainer_right {
        margin-left: 15%;
        margin-top: 0%;
    }
    #footercontainer_right ul {
        margin: 0;
        padding: 20% 0%;
    }
    #footercontainer_right img {
        width: 20%;
        padding: 0px 0px !important;
    }
    #footercopyright {
        width: 30%;
        margin-left: -13.125empx;
        padding-top: 0.750em;
        padding-right: 0.625em;
    }
    #fbshare,
    #sms {
        margin-left: 15%;
    }
}
