/* ==========================================================================
// bootstrap overrides
========================================================================== */

/* ==========================================================================
// Helpers
========================================================================== */

.text-white {
  color: #ffffff;
}

.text-yellow {
  color: #FBC900;
}

.text-red {
  color: #F0483E;
}

.text-center {
  text-align: center;
}

.text-regular {
  font-weight: 400;
}

.text-bold {
  font-weight: bold;
}

.text-light {
  font-weight: 300;
}

.text-center-vertically {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.clear-fix,
.clear-5,
.clear-10,
.clear-20,
.clear-50,
.clear-100 {
  clear: both;
}

.clear-5 {
  margin-bottom: 5px;
}

.clear-10 {
  margin-bottom: 10px;
}

.clear-20 {
  margin-bottom: 20px;
}

.clear-50 {
  margin-bottom: 50px;
}

.clear-100 {
  margin-bottom: 100px;
}

.hidden {
  display: none !important;
  opacity: 0 !important;
}

.height-20 {
  height: 20% !important;
  min-height: 20% !important;
}

.height-30 {
  height: 30% !important;
  min-height: 30% !important;
}

.height-50 {
  height: 50% !important;
  min-height: 50% !important;
}

.height-70 {
  max-height: 70% !important;
  min-height: 70% !important;
}

.height-80 {
  height: 80% !important;
  min-height: 80% !important;
}

.height-100 {
  height: 100% !important;
  min-height: 100% !important;
}

.width-50 {
  width: 50% !important;
  min-width: 50% !important;
}

.width-100 {
  width: 100% !important;
  min-width: 100% !important;
}

@media (min-width: 992px) {
  .height-20-lg {
    height: 20% !important;
    min-height: 20% !important;
  }

  .height-80-lg {
    height: 80% !important;
    min-height: 80% !important;
  }

  .height-50-lg {
    height: 50% !important;
    min-height: 50% !important;
  }

  .height-100-lg {
    height: 100% !important;
    min-height: 100% !important;
  }
}

.img-responsive-width {
  width: 100%;
  height: auto;
}

.img-responsive-width-50 {
  display: block;
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.img-responsive-width-75 {
  display: block;
  width: 75%;
  height: auto;
  margin: 0 auto;
}

.img-responsive-height {
  width: auto;
  height: 100%;
}

.img-responsive-height-80 {
  height: 100%;
  width: auto;
}

.centered {
  margin: 0 auto;
}

.relative {
  position: relative;
}

.push-10 {
  margin-left: 10px;
}

.no-margin {
  margin: 0 !important;;
}

.no-padding {
  padding: 0 !important;;
}

/* ==========================================================================
// base
========================================================================== */

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  min-height: 100%;
  font-size: 100%;
  font-family: 'Raleway', 'Raleway', Raleway, 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  background-color: #ffffff;
  font-size: 1em;
  line-height: 1.5em;
  -webkit-tap-highlight-color: rgba(232, 76, 56, 0.38);
}

h1,
h2,
h3,
h4,
h5,
li {
  color: #403882;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

a {
  cursor: pointer;
}

a:hover {
  color: #34BEF8;
}

@media (max-width: 992px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 19px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }
}

section {
  min-width: 100vw;
  min-height: 90vh;
  height: 90vh;
}

section .container,
section .container > .row {
  display: block;
  min-height: 100%;
  height: 100%;
}

section .container .row .col.flex {
  min-height: 100%;
  height: 100%;
}

.flex,
.module .container .row .col.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

.img-center {
  width: auto;
  height: 60%;
  margin: 0 auto;
  display: block;
}

.img-center-width {
  width: 60%;
  height: auto;
}

@media (max-width: 992px) {
  .module {
    min-height: auto;
    height: auto;
  }

  .module .section {
    min-height: 100vh;
    height: auto;
  }

  @media (max-width: 992px) {
    .module .section {
      min-height: auto;
      height: auto;
    }
  }

  .module .container,
  .module .container .row,
  .module .container .row .col {
    min-height: auto;
    height: auto;
  }

  .img-center {
    width: 600px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .img-center {
    width: 60%;
    height: auto;
  }
}

/*
section {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 90vh;
    display: block;
    overflow: hidden;
}
*/

@media (min-width: 768px) {
    section {
        text-align: left;
    }
}

@media (min-width: 992px) {
    section {
        text-align: left;
    }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
    color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
    color: #bbb5af;
}

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
    color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
}

input {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    width: 369px;
    height: 50px;
    padding: 0px 15px 5px 15px;
    background: transparent;
    outline: none;
    color: #403882;
    border: none;
    border-bottom: solid 1px #b3aca7;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    background: #403882;
    color: #ffffff;
    border-radius: 4px;
}

@media only screen and (max-width: 766px) {
    input {
        width: 87.5%;
        font-size: 1.5em;
    }
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

/* ==========================================================================
// components
========================================================================== */

/*
====================
navigation
====================
*/

/*
====================
footer
====================
*/

.footer {
  height: 180px;
  min-height: auto;
  background-color: #DDDDDD;
}

.footer p {
  font-size: 18px;
  margin-top: 10px;
}

.footer ul {
  list-style: none;
  width: 200px;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  margin: 0 auto;
}

/* ==========================================================================
// modules - home
========================================================================== */

/*
====================
landing section
====================
*/

.home-landing {
   background-image: url("https://media.giphy.com/media/3o7buf80PB3VVgpgNa/giphy.gif");
   background-size: cover;
}

.home-landing h2,
.home-landing h4 {
  color: #fff;
  text-shadow: 1px 1px #333;
  text-rendering: optimizeLegibility;
  line-height: 1.5em;
}

#cover {
  background-color: rgba(0, 0, 0, 0.1);
}

#cover h1,
#cover h2 {
   z-index: 1;
}

@media only screen and (max-width: 766px) {
   .home-landing {
       background-image: url("https://media.giphy.com/media/mCxc3IABhfKGA/giphy.gif") right top;
       background-size: cover;
       background-position: 30% 20%;
   }

   #landing h1,
   #cover h1 {
       text-align: left;
       position: justify;
       z-index: 1;
       font-size: 20px;
   }

   #landing h2 {
       text-align: left;
       position: justify;
       margin: 0 2em 0 0;
  }

  #landing h3,
  #cover h3 {
      text-align: left;
      position: justify;
      margin: 0 2em 0 0;
      font-size: 18px;
  }

  #cover img {
      width: 90%;
      position: center;
      display: inline-block;
      margin: 1em 3em 1em -0.5em;
      padding: -5em;
  }
}

.btn-join {
   width: 150px;
   padding: 15px;
   background: transparent;
   background-color: transparent;
   color: #fff;
   border: 1px solid #fff !important;
   text-align: center;
   text-decoration: none !important;
   text-transform: uppercase;
   white-space: nowrap;
   border-radius: 0.250em;
   font-size: 20px;
   font-weight: 500;
   font-family: 'Raleway', 'Helvetica Neue', sans-serif;
   cursor: pointer;
   user-select: none;
   line-height: 1.3;
   transition: all 60ms ease-in-out;
}
.btn-join:hover {
   transition: all 60ms ease;
   background-color: #403882;
   border: 1px solid #403882 !important;
   color: #fff;
   opacity: .85;
}

.btn-join:active {
   transition: all 60ms ease;
   opacity: .75;
}

.btn-join:focus {
   outline: 1px dotted #959595;
   outline-offset: -4px;
}

/*
====================
About Section
====================
*/

.home-about p {
  color: #403882;
  font-size: 20px;
  line-height: 1.5em;
}

.home-about img {
  height: 80%;
}

#about {
    background-color: #fff;
}

#about .wrapper {
    width: 100%;
    margin: 0 auto;
}

#about img {
    opacity: 1;
    float: right;
    margin: 0 12em;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (max-width: 766px) {
    #about {
        height: 1000px;
        padding-top: 0.5em;
    }

    #about img {
        display: none;
    }
}

#form {
    position: relative;
    width: 31.250em;
}

#submit {
    width: 150px;
    border-radius: 4px;
    padding: 0;
    margin: 50px 0px 0px 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: #403882;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: solid 1px #403882;
    display: flex;
    flex: 0 0 160px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*   border-top: none; */
}

#submit:hover {
    transition: all 60ms ease;
    opacity: .85;
}

@media only screen and (max-width: 766px) {
    #form {
        width: 92.5%;
        position: left;
        margin-top: 20px;
    }

    #submit {
        width: 54.5%;
        margin-left: 24%;
    }
}

@media only screen and (max-width: 766px) {
    #about h4
    {
        text-align: left;
        position: justify;
        z-index: 1;
        font-size: 20px;
    }
    #about h3,
    #form
    {
        text-align: left;
        position: justify;
        margin: 0 2em 0 0;
        font-size: 18px;
    }
}

/* ==========================================================================
// Welcome Page
========================================================================== */
/*
#page {
  background-color: #DDD;
  text-align: center;
}
#page .wrapper {
    width: 100%;
    margin: 0 auto;
    margin-left: -60px;
}
#page h3{
  margin: 0 320px 0 320px;
  font-size: 16px;
}
#page h4{
  font-size: 20px;
  font-weight: bolder;
}

@media only screen and (max-width: 766px) {
  #page .wrapper {
  margin-top: -8em;
  }
  #page h2 {
      font-size: 18px;
      text-align: center;
      position: justify;
      margin: 0 0em 0 4em;
  }
  #page h3, #page h4{
      font-size: 14px;
      text-align: center;
      position: justify;
      margin: 0 0em 0 4em;
  }
  #page img{
    width: 20%;
  }
  #fbshare {
      margin-left: 15%;
  }
}
*/

/* ==========================================================================
// Privacy Policy
========================================================================== */

/*
#privacy {
    background-color: #DDDDDD;
}

#privacy .wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: -14.375em;
}


@media only screen and (max-width: 766px) {
    #privacy {
        height: 1200px;
        padding-top: 60%;
    }

    #privacy img {
        width: 21%;
        margin: 0 0em 0 0em;
    }
    #privacy h4,
    {
        text-align: left;
        position: justify;
        z-index: 1;
        font-size: 20px;
    }
    #privacy h2 {
        text-align: left;
        position: justify;
        margin: 0 2em 0 0;
    }
    #privacy h5 {
        text-align: left;
        position: justify;
        margin: 0 4em 0 0;
    }
    #privacy h3 {
        text-align: left;
        position: justify;
        margin: 0 2em 0 0;
        font-size: 18px;
    }
}
*/

/* ==========================================================================
// Navigation
========================================================================== */

/*
.main_h {
    position: fixed;
    top: 0px;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.3s;
    background-color: transparent !important;
    top: -100px;
    padding-bottom: 6px;
    font-family: 'Raleway', 'Raleway', sans-serif;
}

.main_h.scrolled {
    opacity: 0.5;
    background-color: white !important;
}

.main_h.scrolled_mob {
    opacity: 1;
    background-color: white !important;
}

@media only screen and (max-width: 766px) {
    .main_h {
        padding-top: 25px;
    }
}

.sticky {
    background-color: rgba(255, 255, 255, 0.93);
    opacity: 1;
    top: 0px;
    border-bottom: 0px solid gainsboro;
}

.logo {
    width: 0.000em;
    font-size: 1.563em;
    color: #8f8f8f;
    text-transform: uppercase;
    display: block;
    margin-top: 0.625em;
    line-height: 1;
}

@media only screen and (max-width: 766px) {
    .logo {
        float: none;
        padding-left: 0.5em;
    }
}

nav {
    float: right;
    width: 60%;
    padding-right: 6.563em;
}

@media only screen and (max-width: 766px) {
    nav {
        width: 100%;
        padding-right: 0px;
    }
}

nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
    margin-top: 0px;
    margin-right: -6.250em;
}

@media only screen and (max-width: 766px) {
    nav ul,
    .button {
        padding-top: 0.625em;
        padding-left: 0.313em;
        margin-bottom: 1.250em;
        float: left;
        text-align: left;
        width: 100%;
        display: inline-block;
    }
}

nav ul li {
    display: inline-block;
    margin-left: 3.438em;
    line-height: 0.000em;
}

@media only screen and (max-width: 766px) {
    nav ul li {
        width: 100%;
        padding: 0.625em;
        margin: 0;
    }
}

nav ul a {
    text-decoration: none;
    color: #403882;
    text-transform: uppercase;
    font-size: 1.125em;
}

.row {
    width: 100%;
    max-width: 71.875em;
    margin: 0 5.55%;
    position: relative;
}
*/

/* ==========================================================================
// Footer
========================================================================== */

/*
#footer {
    background-color: #DDDDDD;
    height: 150px;
    min-height: auto;
}

#footer .wrapper {
    width: auto;
}

#footer h1 {
    position: relative;
    margin: 0 auto;
    width: 100%;
    line-height: 1.2em;
    text-align: center;
}

#footer img {
    width: 30%;
    margin: 0;
    padding: 0;
}

#footercontainer_left {
    width: 18.750em;
    float: left;
}

#footercontainer_right {
    width: 250px;
    padding: 10px 0;
    display: block;
    margin: 0 auto;
}

#footer a {
    text-decoration: none;
    font-size: 0.6em;
}

.privacy-policy {
    display: block;
    text-align: center;
}

#footercopyright {
    width: 16.875em;
    padding: 0.313em 0.938em;
    float: left;
}


@media only screen and (max-width: 766px) {
    #footer {
        width: 100%;
        height: 100px !important;
        display: inline-block;
        font-size: 12px;
    }

    #footercontainer_left {
        width: 30%;
        margin-left: -70px;
        padding: 0px 0px;
    }

    #footercontainer_right {
        margin-left: 15%;
        margin-top: 20%;
    }

    #footercontainer_right ul {
        margin: 0;
        padding: 20% 0%;
    }

    #footercontainer_right img {
        width: 20%;
        padding: 0px 0px !important;
    }

    #footercopyright {
        width: 30%;
        margin-left: -13.125empx;
        padding-top: 0.750em;
        padding-right: 0.625em;
    }
}
*/
