/* ==========================================================================
// base
========================================================================== */

html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    min-height: 100%;
    font-size: 100%;
    font-family: 'Raleway', 'Raleway', Raleway, 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    background-color: #ffffff;
    font-size: 1em;
    line-height: 1.5em;
    -webkit-tap-highlight-color: rgba(232, 76, 56, 0.38);
}

h1,
h2,
h3,
h4,
h5,
li {
    color: #403882;
    line-height: 1.5em;
}

h1 {
    font-weight: 510;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 3em;
}

h2 {
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 2em;
    z-index: 100;
}

h3,
li {
    font-weight: 200;
    letter-spacing: 0.1em;
    font-size: 1.3em;
    line-height: 1.5em;
    margin-left: 3.1em;
    z-index: 100;
}

h4 {
    font-weight: 510;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 2em;
    margin-left: 1.4em;
    z-index: 100;
}

h5 {
    color: #403882;
    font-weight: 510;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 0.5em;
    margin-left: 1.4em;
    z-index: 100;
}

a:hover {
    color: #34BEF8;
}

section {
    position: relative;
    width: 100%;
    height: 56.875em;
    display: block;
    overflow: hidden;
}

@media (min-width: 768px) {
    section {
        padding-bottom: 4.375em;
        text-align: left;
    }
}
@media (min-width: 992px) {
    section {
        text-align: left;
    }
}

.wrapper {
    padding: 0 5.55%;
    position: relative;
    width: 100%;
    margin: 0 auto;
    top: 35%;
}

@media only screen and (max-width: 766px) {
    .wrapper {
        margin-top: -11.875em;
    }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
    color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
    color: #bbb5af;
}

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
    color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
}

input {
    font-family: 'Raleway', sans-serif;
    font-size: 0.875em;
    width: 369px;
    height: 50px;
    padding: 0px 15px 5px 15px;
    background: transparent;
    outline: none;
    color: #403882;
    border: none;
    border-bottom: solid 1px #b3aca7;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    background: #403882;
    color: #ffffff;
    border-radius: 4px;
}

@media only screen and (max-width: 766px) {
    input {
        width: 87.5%;
        font-size: 1.5em;
    }
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
}

/* ==========================================================================
// Home
========================================================================== */

/*
====================
Landing Section
====================
*/

#landing {
   background-image: url("https://media.giphy.com/media/3o7buf80PB3VVgpgNa/giphy.gif");
   background-size: cover;
}

#landing h2,
#landing h3,
#landing p {
  color: #fff;
  text-shadow: 1px 1px #333;
  text-rendering: optimizeLegibility;
}

#cover {
  background-color: rgba(0, 0, 0, 0.1);
}

#cover h1,
#cover h2 {
   margin: 2em 0em auto 2em;
   z-index: 1;
}

#landing .wrapper {
  margin-top: -150px;
}

@media only screen and (max-width: 766px) {
   #cover {
       background-image: url("https://media.giphy.com/media/mCxc3IABhfKGA/giphy.gif") right top;
       background-size: cover;
       background-position: 30% 20%;
       height: 1100px;
       margin-top: 0.01em;
       font-size: 26px;
       text-align: left;
       margin: -5em 2em 0 0;
   }
   #landing h1,
   #cover h1,
   {
       text-align: left;
       position: justify;
       z-index: 1;
       font-size: 20px;
   }
   #landing h2
   {
       text-align: left;
       position: justify;
       margin: 0 2em 0 0;
  }
  #landing h3,
  #cover h3
  {
      text-align: left;
      position: justify;
      margin: 0 2em 0 0;
      font-size: 18px;
  }
  #cover img {
      width: 90%;
      position: center;
      display: inline-block;
      margin: 1em 3em 1em -0.5em;
      padding: -5em;
  }
}

.btn-join {
   width: 150px;
   margin-left: 63px;
   padding: 15px;
   background: transparent;
   background-color: transparent;
   color: #fff;
   border: 1px solid #fff !important;
   text-align: center;
   text-decoration: none !important;
   text-transform: uppercase;
   white-space: nowrap;
   border-radius: 0.250em;
   font-size: 20px;
   font-weight: 500;
   font-family: 'Raleway', 'Helvetica Neue', sans-serif;
   cursor: pointer;
   user-select: none;
   line-height: 1.3;
   transition: all 60ms ease-in-out;
}
.btn-join:hover {
   transition: all 60ms ease;
   background-color: #403882;
   border: 1px solid #403882 !important;
   color: #fff;
   opacity: .85;
}

.btn-join:active {
   transition: all 60ms ease;
   opacity: .75;
}

.btn-join:focus {
   outline: 1px dotted #959595;
   outline-offset: -4px;
}

/*
====================
About Section
====================
*/

#about {
    background-color: #fff;
}

#about .wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: -16.875em;
}

#about img {
    opacity: 1;
    float: right;
    margin: 0 12em;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (max-width: 766px) {
    #about {
        height: 1000px;
        padding-top: 0.5em;
    }

    #about img {
        display: none;
    }
}

#form {
    position: relative;
    width: 31.250em;
    margin: 3.125em auto auto 4em;
}

#submit {
    width: 150px;
    border-radius: 4px;
    padding: 0;
    margin: 50px 0px 0px 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: #403882;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: solid 1px #403882;
    display: flex;
    flex: 0 0 160px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*   border-top: none; */
}

#submit:hover {
    transition: all 60ms ease;
    opacity: .85;
}

@media only screen and (max-width: 766px) {
    #form {
        width: 92.5%;
        position: left;
        margin-top: 20px;
    }

    #submit {
        width: 54.5%;
        margin-left: 24%;
    }
}

@media only screen and (max-width: 766px) {
    #about h4
    {
        text-align: left;
        position: justify;
        z-index: 1;
        font-size: 20px;
    }
    #about h3,
    #form
    {
        text-align: left;
        position: justify;
        margin: 0 2em 0 0;
        font-size: 18px;
    }
}

/* ==========================================================================
// Welcome Page
========================================================================== */

@media only screen and (max-width: 766px) {

  #fbshare,
  #sms {
      margin-left: 15%;
  }
}

/* ==========================================================================
// Privacy Policy
========================================================================== */

#privacy {
    background-color: #DDDDDD;
}

#privacy .wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: -14.375em;
}


@media only screen and (max-width: 766px) {
    #privacy {
        height: 1200px;
        padding-top: 60%;
    }

    #privacy img {
        width: 21%;
        margin: 0 0em 0 0em;
    }
    #privacy h4,
    {
        text-align: left;
        position: justify;
        z-index: 1;
        font-size: 20px;
    }
    #privacy h2 {
        text-align: left;
        position: justify;
        margin: 0 2em 0 0;
    }
    #privacy h5 {
        text-align: left;
        position: justify;
        margin: 0 4em 0 0;
    }
    #privacy h3 {
        text-align: left;
        position: justify;
        margin: 0 2em 0 0;
        font-size: 18px;
    }
}

/* ==========================================================================
// Navigation
========================================================================== */

.main_h {
    position: fixed;
    top: 0px;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.3s;
    background-color: transparent !important;
    top: -100px;
    padding-bottom: 6px;
    font-family: 'Raleway', 'Raleway', sans-serif;
}

.main_h.scrolled {
    opacity: 0.5;
    background-color: white !important;
}

.main_h.scrolled_mob {
    opacity: 1;
    background-color: white !important;
}

@media only screen and (max-width: 766px) {
    .main_h {
        padding-top: 25px;
    }
}

.sticky {
    background-color: rgba(255, 255, 255, 0.93);
    opacity: 1;
    top: 0px;
    border-bottom: 0px solid gainsboro;
}

.logo {
    width: 0.000em;
    font-size: 1.563em;
    color: #8f8f8f;
    text-transform: uppercase;
    float: left;
    display: block;
    margin-top: 0.625em;
    line-height: 1;
    padding-left: 0.3em;
}

@media only screen and (max-width: 766px) {
    .logo {
        float: none;
        padding-left: 0.5em;
    }
}

nav {
    float: right;
    width: 60%;
    padding-right: 6.563em;
}

@media only screen and (max-width: 766px) {
    nav {
        width: 100%;
        padding-right: 0px;
    }
}

nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
    margin-top: 0px;
    margin-right: -6.250em;
}

@media only screen and (max-width: 766px) {
    nav ul,
    .button {
        padding-top: 0.625em;
        padding-left: 0.313em;
        margin-bottom: 1.250em;
        float: left;
        text-align: left;
        width: 100%;
        display: inline-block;
    }
}

nav ul li {
    display: inline-block;
    margin-left: 3.438em;
    line-height: 0.000em;
}

@media only screen and (max-width: 766px) {
    nav ul li {
        width: 100%;
        padding: 0.625em;
        margin: 0;
    }
}

nav ul a {
    text-decoration: none;
    color: #403882;
    text-transform: uppercase;
    font-size: 1.125em;
}

.row {
    width: 100%;
    max-width: 71.875em;
    margin: 0.000em auto;
    position: relative;
    padding: 0.000em 2%;
}

/* ==========================================================================
// Footer
========================================================================== */

#footer {
    background-color: #DDDDDD;
    height: 150px;
}

#footer .wrapper {
    width: auto;
}

#footer h1 {
    position: relative;
    margin: 0 auto;
    width: 100%;
    line-height: 1.2em;
    text-align: center;
}

#footer img {
    width: 30%;
    margin: 0;
    padding: 0;
}

#footercontainer_left {
    width: 18.750em;
    float: left;
}

#footercontainer_right {
    width: 250px;
    padding: 10px 0;
    display: block;
    margin: 0 auto;
}

#footer a {
    text-decoration: none;
    font-size: 0.6em;
}

#footercopyright {
    width: 16.875em;
    padding: 0.313em 0.938em;
    float: left;
}

#fbshare {
    margin-left: 5%;
}

@media only screen and (max-width: 766px) {
    #footer {
        width: 100%;
        height: 100px !important;
        display: inline-block;
        font-size: 12px;
    }

    #footercontainer_left {
        width: 30%;
        margin-left: -70px;
        padding: 0px 0px;
    }

    #footercontainer_right {
        margin-left: 15%;
        margin-top: 20%;
    }

    #footercontainer_right ul {
        margin: 0;
        padding: 20% 0%;
    }

    #footercontainer_right img {
        width: 20%;
        padding: 0px 0px !important;
    }

    #footercopyright {
        width: 30%;
        margin-left: -13.125empx;
        padding-top: 0.750em;
        padding-right: 0.625em;
    }
}
